  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" /> -->
  <link href="//cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->

  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" /> -->

  <link rel="stylesheet" href="//fonts.lug.ustc.edu.cn/css?family=Roboto+Slab|Ruda" />


  <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
